AuthName "This site is still a work in progress. Enter your password to access"
AuthType Basic
AuthUserFile /customers/1/3/f/torontorollerderby.org/httpd.www/.htpasswd
AuthGroupFile /dev/null
require valid-user 