button {
    border-radius: 10px;
    padding: 13px 30px 10px 30px;
    border: none;
    background: $black;
    color: $white;
    transition: ease 0.6s;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    a {
        color: $white;
        line-height: 0;
    }
    &:hover {
        background: $highlightColour;
        transition: ease 0.6s;
        color: $black;
    }
}