@font-face {
	font-family: 'Schwager';
	src: url('/fonts/schwager.eot');
	src: local('☺'), url('/fonts/schwager.woff') format('woff'), url('/fonts/schwager.ttf') format('truetype'), url('/fonts/schwager.svg') format('svg');
}
@font-face {
	font-family: 'SchwagerBlack';
	src: url('/fonts/schwager-black.eot');
	src: local('☺'), url('/fonts/schwager-black.woff') format('woff'), url('/fonts/schwager-black.ttf') format('truetype'), url('/fonts/schwager-black.svg') format('svg');
}