.copyrightSection {
    background: $highlightColour;
    padding: 10px;
    p {
        color: $white;
        text-align: center;
        font-size: .8rem;
        line-height: 0;
        text-transform: uppercase;
    }
}