@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Schwager';
  src: url("/fonts/schwager.eot");
  src: local("☺"), url("/fonts/schwager.woff") format("woff"), url("/fonts/schwager.ttf") format("truetype"), url("/fonts/schwager.svg") format("svg");
}

@font-face {
  font-family: 'SchwagerBlack';
  src: url("/fonts/schwager-black.eot");
  src: local("☺"), url("/fonts/schwager-black.woff") format("woff"), url("/fonts/schwager-black.ttf") format("truetype"), url("/fonts/schwager-black.svg") format("svg");
}

button {
  border-radius: 10px;
  padding: 13px 30px 10px 30px;
  border: none;
  background: black;
  color: white;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

button a {
  color: white;
  line-height: 0;
}

button:hover {
  background: darkgrey;
  -webkit-transition: ease 0.6s;
  transition: ease 0.6s;
  color: black;
}

body {
  background: white;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.flexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexChild {
  width: 50%;
}

.flexChildThree {
  width: 33%;
}

.flexChildThree p {
  text-align: center;
  font-size: 1rem;
}

.flexImage {
  width: 100%;
}

.flexText {
  padding: 15px;
}

h1, h2, h3, h4 {
  font-family: "Schwager", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  line-height: 0;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
}

.strippedText {
  -webkit-font-variant-ligatures: no-contextual;
  font-variant-ligatures: no-contextual;
  -webkit-font-feature-settings: "calt" 0;
  font-feature-settings: "calt" 0;
}

section {
  padding: 25px 0;
  text-align: center;
}

.whatWereDoingSection {
  background: darkgrey;
}

.donateSection {
  background: darkgrey;
}

.contactSection {
  background: darkgrey;
}

.faqSection {
  background: url(https://images.unsplash.com/photo-1556139902-7367723b7e9e);
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
          box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
}

.faqList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0;
}

.faqList li {
  background: white;
  width: 45%;
  padding: 2%;
  margin: 10px;
}

.faqList li p {
  font-size: 1rem;
  text-align: left;
}

.frequentQuestion {
  font-weight: bold;
  text-transform: uppercase;
}

.frequentAnswer {
  font-weight: light;
}

.headerSection {
  background-image: url(/assets/images/strongerTogether.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.9);
          box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.9);
}

.headerSection h1 {
  margin: 0 auto;
}

.headerSection p {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 34px;
}

.copyrightSection {
  background: darkgrey;
  padding: 10px;
}

.copyrightSection p {
  color: white;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
}
